<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Product</title>
    <style>
    body {
        background-image: url("https://anhnendep.net/wp-content/uploads/2018/10/top-50-hinh-nen-Full-HD-1080-dep-nhat-10.jpg") ;
        color: seashell;
        text-align: center;
    }
    h2{
        text-align:center;
    }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <header>
        <table>        
        <div >
            <h2>Create New Product</h2>
            <form action="/product/insert"  method="POST">
                <p>Product Name</p>
                <input type="text" name="productName">
                <br>
                <p>Category </p>
                <input type="text" name="Category">
                <br>
                <p>Price </p>
                <input type="text" name="Price" id="">
                <br>
               
                <input type="submit" class="w3-button w3-blue" width="20%" value="Create new">
            </form>
        </div>
        </table>
    </header>
</body>

</html>